.blog{
  background-color: rgb(237, 237, 237);
  margin-left: 100px;
  margin-right: 100px;
  font-size: 16px;
}

nav{
  margin-left: -100px;
  margin-right: -100px;

}

button{
  background-color: rgb(214, 206, 206);
  border-color: rgb(214, 206, 206);
}

.homePage {
  height: 300px;
}

.row{
  display: flex;
  float: center;
}

.column{
  float:left;
  padding: 10px;
}

footer{
  background-color: rgba(0,0,0, 0.05);
}

.landing{
  width: 100%;
}